<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <!--Spring.Net对象容器的配置-->
    <context>
      <!--容器里面的所有对象在哪里配置的-->
      <!--在文件夹: Dals.xml中配置-->
      <!--<resource uri="file://Dals.xml"/>-->
      <!--通过程序集来配置-->
      <resource uri="assembly://SpringNetDemo/SpringNetDemo/Dals.xml"/>
      
      <!--在本文档中spring下的objects中配置-->
      <resource uri="config://spring/objects"/>
      
      
    </context>
        
    <!--Object: 配置的容器里面的对象-->
    <objects xmlns="http://www.springframework.net">
      <description>An  example that demonstrates simple IoC features.</description>
      
      <!--name是key, type中前面是全名称,后面是所在的程序集-->
      <object name="EFUserInfoDal" type="SpringNetDemo.EFUserInfoDal, SpringNetDemo">
        <!--属性注入: 在EFUserInfoDal中的Name属性配置属性-->
        <property name="Name" value="Injection by IoC"/>
      </object>

      <object name="UserInfoService" type="SpringNetDemo.UserInfoService, SpringNetDemo">
        <!--属性注入: 在UserInfoService中的UserInfoDal属性配置对象-->
        <property name="UserInfoDal" ref="UserInfoDal"/>
      </object>
      
      
    </objects>
  </spring>
          
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>