
@model MAP.OA.Model.UserInfo
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<h3>Welcome @Html.DisplayFor(u => u.UserName)</h3>

<hr />
<table>
    <tr>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
    </tr>
    <tr>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
    </tr>
</table>
<hr />