@model MAP.OA.Model.WF_Temp
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery-easyui-1.8.2/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.8.2/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Content/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/jquery-easyui-1.8.2/locale/easyui-lang-en.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script type="text/javascript">
        $(function () {
            initTable();

            //hide the dialog when the page initialized
            $("#addDialogDiv").css("display", "none");
            $("#editDialogDiv").hide();

            // search asynchronous when the search button is click
            bindSearchButtonClick();
        });

        function initTable(queryParam) {
            $('#tt').datagrid({
                url: '/WFTemp/GetAllWFTemps',
                title: '流程模板信息列表',
                width: 700,
                height: 400,
                fitColumns: true,
                idField: 'Id',              //要和后台数据库Id一致
                loadMsg: '正在加载流程模板信息...',
                pagination: true,
                singleSelect: false,
                pageSize: 10,
                pageNumber: 1,
                pageList: [10, 20, 30],
                queryParams: queryParam,    //exstra parameters when the datagrid is setup. Formatter: {key1 : value1, key2 : value2}
                columns: [[
                    //  u.Id, u.TempName, u.Decription, u.TempForm, u.Remark, u.SubTime, u.ActivityType, u.DelFlag
                    { field: 'ck', checkbox: true, align: 'left', width: 80 },
                    { field: 'Id', title: '流程模板编号', width: 80 },
                    { field: 'TempName', title: '流程模板名', width: 80 },
                    {
                        field: 'SubTime', title: '提交时间', width: 80,
                        //formatter: function (value, row, index) {
                        //    return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($l)"))).pattern("yyyy-M-d h:m:s");
                        //}
                    },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'DelFlag', title: '操作', width: 120, formatter:
                            function (value, row, index) {
                                var str = "";
                                str += "<a href='javascript:void(0)' class='editLink' uid='" + row.Id + "'>edit</a> &nbsp;";
                                str += "<a href='javascript:void(0)' class='deleteLink' uid='" + row.Id + "'>delete</a>";
                                return str;
                            }
                    }
                ]],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: 'new',
                        iconCls: 'icon-add',
                        handler: function () {
                            addClickEvent();
                        }
                    },
                    {
                        id: 'btnDelete',
                        text: 'delete',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            deleteClickEvent();
                        }
                    },
                    {
                        id: 'btnEdit',
                        text: 'edit',
                        iconCls: 'icon-edit',
                        handler: function () {
                            // 检测是否选中一行数据
                            var seletedRows = $('#tt').datagrid("getSelections");
                            if (seletedRows.length != 1) {
                                $.messager.alert("error", "please select exacly one row", "warning");
                                return;
                            }
                            editClickEvent(seletedRows[0].Id);
                        }
                    }
                ],
                onHeaderContextMenu: function (e, field) {

                },
                // After data are loaded
                onLoadSuccess: function (data) {
                    $(".editLink").click(function () {
                        var Id = $(this).attr("uid");
                        editClickEvent(Id);
                        return false;
                    });

                    $(".deleteLink").click(function () {
                        var Id = $(this).attr("uid");
                        $.post("/WFTemp/Delete", { ids: [Id] }, function (data) {
                            if (data == "ok") {
                                initTable();
                            } else {
                                $.messager.alert("Message", "Failed", "error");
                            }

                        });
                        return false;
                    });
                }

            });
        }


        function bindSearchButtonClick() {
            $("#btnSearch").click(function () {
                var data = { srchName: $("#srchName").val(), srchRemark: $("#txtSrchRemark").val() };
                initTable(data);
            });
        }

        // Edit a user
        function editClickEvent(Id) {
            // assign value to editFrame src attribute
            $("#editFrame").attr("src", "/WFTemp/Edit/" + Id);

            $("#editDialogDiv").show();
            $("#editDialogDiv").dialog({
                title: "修改流程模板",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: 'save',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $("#editFrame")[0].contentWindow.submitForm();
                        }
                    },
                    {
                        id: 'btnCancel',
                        text: 'cancel',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $("#editDialogDiv").dialog("close");
                        }
                    }
                ]

            });
        }

        // Closed edit dialog and update the table
        function afterEditSuccess() {
            $("#editDialogDiv").dialog("close");
            initTable();
        }

        // Delete user(s)
        function deleteClickEvent() {
            // get the data which is selected
            var seletedRows = $('#tt').datagrid("getSelections");
            if (seletedRows.length <= 0) {
                $.messager.alert("error", "please select at least one row", "warning");
                return;
            }

            var ids = "";
            // delete the data
            // add all ids to a list
            for (var key in seletedRows) {
                ids = ids + seletedRows[key].Id + ',';
            }
            ids = ids.substr(0, ids.length -1);
            $.post("/WFTemp/Delete", { ids: ids }, function (data) {
                if (data == "ok") {
                    $('#tt').datagrid("reload");
                } else {
                    $.messager.alert("Message", "Failed", "error");
                }

            });
            return;
        }

        // Create a new dialog, when the 'new user'-button is clicked
        function addClickEvent() {

            // Modify the src attribute
            $("#addFrame").attr("src", "/WFTemp/Add");

            $("#addDialogDiv").css("display", "block");
            $("#addDialogDiv").dialog({
                title: "添加流程模板",
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: 'ok',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $("#addFrame")[0].contentWindow.submitForm();
                        }
                    },
                    {
                        id: 'btnCancel',
                        text: 'cancel',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $("#addDialogDiv").dialog("close");
                        }
                    }
                ]

            });
        }

        // Closed add dialog and reload the table
        function afterAddedSuccess() {
            $("#addDialogDiv").dialog("close");
            $('#tt').datagrid("reload");
        }

        // Transfer the table-data to Controller
        function subAddForm() {
            $("#addDialogDiv form").submit();
        }

        // Executed after the page is successfully updated by using Ajax method
        function afterAddSuccess(data) {
            if (data == "ok") {
                // Closed dialog and update table
                $("#addDialogDiv").dialog("close");
                initTable();
            } else {
                $.messager.alert("add failed");
            }

        }


    </script>
</head>
<body>

    <div>
        流程模板名: <input type="text" id="srchName" name="txtSrchName" />
        备注:   <input type="text" id="txtSrchRemark" name="txtSrchRemark" />
        <input type="button" id="btnSearch" value="search" />
    </div>

    <!--当前页面存放数据的地方-->
    <table id="tt" style="width: 700px;" title="标题可以使用代码进行初始化,也可以使用这用属性的方式" iconcls="icon-edit"></table>

    <!----------------- 弹出添加的对话框 开始 ------------------>
    <div id="addDialogDiv">
        <iframe id="addFrame" src="javascript:void(0)" frameborder="0" style="width:100%; height:99%;"></iframe>
    </div>
    <!----------------- 弹出添加的对话框 结束 ------------------>
    <!----------------- 弹出添加的对话框 开始 ------------------>
    <div id="editDialogDiv">
        <iframe id="editFrame" src="javascript:void(0)" frameborder="0" style="width:100%; height:99%;"></iframe>
    </div>
    <!----------------- 弹出添加的对话框 结束 ------------------>

</body>
</html>
